<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="navbar"
	class="navbar navbar-dark navbar-expand-md bg-dark mb-1">
	
	<button class="navbar-toggler" type="button" data-toggle="collapse"
		data-target="#navbarSupportedContent"
		aria-controls="navbarSupportedContent" aria-expanded="false"
		aria-label="Toggle navigation">
		<span class="navbar-toggler-icon "></span>
	</button>
	<div class="container">
		<div class="col-lg-6">
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto ">
					<li class="nav-item"><a class="nav-link text-white m-1 "
						href="/home">Home</a></li>
					<li class="nav-item"><a class="nav-link text-white m-1 "
						href="/disciplinas">Virtual Line</a></li>
					<li class="nav-item"><a class="nav-link text-white m-1 "
						href="/cadastra-disciplina">Entrar na fila</a></li>
				</ul>
			</div>
		</div>

		<div class="col-lg-6 text-right text-white">
			<a href="https:www.linkedin.com/in/cristina-kochmann-a1a590161"
				target="_blank">
				<h2>kochmann.com</h2>
			</a>
		</div>
	</div>
</div>

<div th:fragment="rodape">
	<a href="#sobre" data-toggle="modal">Quem somos</a>

	<!-- Modal -->
	<div class="modal fade" id="sobre" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-dialog-scrollable modal-lg"
			role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title display-3" id="exampleModalLongTitle">Virtual Line</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body display-6">
					<p>Filas estão presentes em nossas rotinas, seja para pagar uma
						conta ou receber um dinheiro. É fato que ninguém enfrenta uma fila
						porque quer e espera que chegue sua vez o mais rápido possível.
						Isso fez com que nos dedicássemos a minimizar os problemas e
						efeitos da espera e irritação dos clientes. Para tanto,
						desenvolvemos um sistema web monolítico utilizando template engine
						MVC e acesso a dados baseado em comandos SQL. A concepção deste
						projeto foi para que o empresário tenha facilidade para
						organização, utilizando uma tecnologia de template engine, e o
						cliente tenha a comodidade de aguardar como preferir, sendo
						avisado pelo colaborador momentos antes de seu atendimento.</p>
					<p>Tecnologias utilizadas neste sistema:</p>
					<ul>
						<li>GitHub</li>
						<li>Maven</li>
						<li>Spring boot</li>
						<li>MySQL</li>
						<li>Javascript</li>
						<li>JQuery</li>
						<li>MVC</li>
						<li>Bootstrap 4</li>
					</ul>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">Fechar</button>
				</div>
			</div>
		</div>
	</div>
</div>
</html>